@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Rubik+Bubbles&display=swap');
body{
    color: #030616;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #F8FAFC;
    line-height: 38px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    background-color: #FFFFFF;
}
h2{
    font-size: 24px;
    font-weight: 600;
}
a{
    color: #4E80EE;
    text-decoration: none;
}
#head-container{
    background-color: #FFFFFF;
    padding: 35px;
    text-align: center;
}
#head-container p{
    background-color: #FFFFFF;
}
.container{
    background-color: #F8FAFC;
    padding: 45px;  
}
.container2{
    margin: 2% 25% 2% 25%;
    width: 50%;
}
hr{
    background-color: #D2D5DA;
    margin: 35px 0 45px 0;
}